.search-bar-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    background-color: #eee;
    width: 100%;
    border: 0;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
    outline: 0;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 4px;
    cursor: text;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-bar:active {
    outline: none;
    appearance: none;
}

/* Remove X icon credits: https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb */
/* clears the ‘X’ from Internet Explorer */
.search-bar::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
.search-bar::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
.search-bar::-webkit-search-decoration,
.search-bar::-webkit-search-cancel-button,
.search-bar::-webkit-search-results-button,
.search-bar::-webkit-search-results-decoration {
    display: none;
}
