.custom-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 5px;
}

.custom-table > thead {
    background-color: var(--primary-color);
    color: white;
}

.custom-table th,
.custom-table td {
    padding: 5px;
    padding-right: 12px;
}

.custom-table th {
    padding-bottom: 12px;
    text-align: left;
}

.custom-table > tbody > tr:nth-child(odd) {
    background-color: #d9d9d9;
}

.custom-table > tbody > tr:nth-child(even) {
    background-color: white;
}
