.tender-info-container {
    margin-bottom: 15px;
}

.tender-details {
    display: inline-block;
}

.tender-details > div {
    display: grid;
    grid-template-columns: 8px 1fr 1fr;
    gap: 16px;
}

.currency-conversions {
    margin-left: 70px;
}

.tender-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 5px;
}

.tender-table > thead {
    background-color: var(--primary-color);
    color: white;
}

.tender-table th,
.tender-table td {
    padding: 5px;
    padding-right: 12px;
}

.tender-table th {
    padding-bottom: 12px;
    text-align: left;
}

.tender-table > tbody > tr:nth-child(odd) {
    background-color: #d9d9d9;
}

.tender-table > tbody > tr:nth-child(even) {
    background-color: white;
}

@media print {
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }

    tr,
    td,
    th {
        border: 1px solid black;
    }

    th {
        font-weight: bold;
        color: black;
    }
}
